@charset "UTF-8";
/* Set các giá trị với màn hình tương ứng */
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background: url("/assets/img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: 100px;
  z-index: 100;
}
.wrapper .col_left, .wrapper .col_right {
  padding: 0 12px !important;
}

.camera_notification {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #01322C;
}
.camera_notification i {
  font-size: 24px;
  color: #B0855A;
}
.camera_display {
  width: 100%;
  color: #01322C;
  margin-top: 8px;
  border-radius: 8px;
}
.camera_display > img, .camera_display > video, .camera_display > canvas {
  width: 100%;
  height: 536px;
  border-radius: inherit;
  object-fit: cover;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #80643D #F6F6F6;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #80643D;
  border-radius: 100px;
  border: 2px solid #F6F6F6;
}

.table_title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #01322C;
}
.table_title i {
  color: #B0855A;
  font-size: 24px;
}
.table_content {
  position: relative;
  padding: 10px 20px 0 12px;
  background-color: #F6F6F6;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(131, 131, 158, 0.3);
  padding-bottom: 12px;
  margin-top: 8px;
  height: 536px;
  overflow-y: scroll;
}
.table_Public {
  width: 100%;
  display: flex;
  gap: 8px;
}
.table_feilPublic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.table_feilPublic:first-child {
  width: 12.5560538117%;
  color: #80643D;
}
.table_feilPublic:nth-child(2) {
  width: 40.3587443946%;
  color: #01322C;
}
.table_feilPublic:nth-child(3) {
  width: 17.9372197309%;
  color: #80643D;
}
.table_feilPublic:last-child {
  width: 23.7668161435%;
  color: #01322C;
}
.table_feilPublic:last-child img {
  margin: auto;
}
.table_head {
  padding: 0 24px;
  border-bottom: 1.5px solid #80643D;
  z-index: 10;
  background-color: #F6F6F6;
  width: 100%;
}
.table_head::after {
  content: "";
  width: 100%;
  height: 14px;
  background-color: #F6F6F6;
  position: absolute;
  top: -13px;
  left: 0px;
}
.table_head-feil {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 9.5px 0;
}
.table_body-row {
  position: relative;
  background: #FFFFFF;
  border-radius: 13px;
  padding: 2px 24px 2px 24px;
  margin-top: 16px;
}
.table_body-row i {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #495A75;
}
.table_body-feil {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-weight: 500;
  padding: 12px 0;
  text-align: center;
}
.table_body-feil:first-child {
  width: 12.5560538117%;
  color: #80643D;
}
.table_body-feil:nth-child(2) {
  width: 40.3587443946%;
  color: #01322C;
}
.table_body-feil:nth-child(3) {
  width: 17.9372197309%;
  color: #80643D;
}
.table_body-feil:nth-child(4) {
  width: 23.7668161435%;
  color: #01322C;
}
.table_body-feil:nth-child(4) img {
  margin: auto;
}
.table_body-detail {
  min-height: 228px;
  display: none;
  animation: fadein 0.8s;
}
.table_body-detail .detail_tab-wrapper {
  margin-bottom: 10px;
}
.table_body-detail .detail_tab-item {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  line-height: 18px;
  padding: 2px 8px;
  color: rgba(1, 50, 44, 0.4);
}
.table_body-detail .detail_tab-item:not(:first-child) {
  margin-left: 32px;
}
.table_body-detail .detail_service, .table_body-detail .detail_tour, .table_body-detail .detail_blacklist {
  margin-top: 10px;
}
.table_body-detail .detail_header, .table_body-detail .detail_content {
  display: flex;
}
.table_body-detail .detail_header-item, .table_body-detail .detail_content-item {
  text-align: center;
}
.table_body-detail .detail_header-item:first-child, .table_body-detail .detail_header-item:nth-child(2), .table_body-detail .detail_header-item:last-child, .table_body-detail .detail_content-item:first-child, .table_body-detail .detail_content-item:nth-child(2), .table_body-detail .detail_content-item:last-child {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.table_body-detail .detail_header-item:first-child, .table_body-detail .detail_content-item:first-child {
  width: 22.4215246637%;
  color: #01322C;
}
.table_body-detail .detail_header-item:nth-child(2), .table_body-detail .detail_content-item:nth-child(2) {
  width: 50.6726457399%;
  color: #80643D;
}
.table_body-detail .detail_header-item:last-child, .table_body-detail .detail_content-item:last-child {
  width: 26.9058295964%;
  color: #01322C;
}
.table_body-detail .detail_header-item:first-child, .table_body-detail .detail_header-item:nth-child(2), .table_body-detail .detail_header-item:last-child {
  font-weight: bold;
  border-radius: 3px;
  background-color: #F6F6F6;
  padding-top: 6px;
  padding-bottom: 6px;
}
.table_notification {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: calc(100% - 23px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  line-height: 12px;
  background-color: #B0855A;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  color: #FFFFFF;
}

.show {
  display: block;
}

.nav-tabs .nav-link.active {
  color: #01322C;
  border-bottom: 1.5px solid #80643D !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.col-md-12 {
  margin-top: 40px;
}

.navBar {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  width: 100%;
  background-color: #01322C;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
  border-bottom: 4px solid #80643D;
}
.navBar > .container {
  position: relative;
  padding: 0;
}
.navBar_title {
  text-transform: uppercase;
}
.navBar_icon {
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 2.8rem;
  color: #F2994A;
}

.copyRight {
  width: 100%;
  padding: 14px 0;
  background-color: #80643D;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.copyRight span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
