html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  position: relative;
  font-family: $font-Inter;
  font-size: $font-size;
  background: url('/assets/img/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100% ;
}

.wrapper {
  min-height: 100% ;
  margin-bottom: 100px;
  z-index: 100;

  .col {

    &_left,
    &_right {
      padding: 0 12px !important;
    }
  }
}

//Camera area
.camera {
  &_notification {
    @include font(regular, 14);
    display: flex;
    align-items: center;
    gap: 8px;
    color: $brand;
    i {
      font-size: 24px;
      color: $secondary-3;
    }

  }

  &_display {
    width: 100%;
    color: $brand;
    margin-top: 8px;
    border-radius: 8px;

    &>img, &>video, &>canvas {
      width: 100%;
      height: 536px;
      border-radius: inherit;
    }
  }

}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $secondary-4 $neutal-1;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $secondary-4;
    border-radius: 100px;
    border: 2px solid  $neutal-1;
  }
//Table area
.table {
  &_title{
    @include font(regular, 14);
    display: flex;
    align-items: center;
    gap: 8px;
    color: $brand;
    i{
      color: $secondary-3;
      font-size: 24px;
    }
  }
  &_content {
    position: relative;
    padding: 10px 20px 0 12px;
    background-color: $neutal-1;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(131, 131, 158, 0.3);
    padding-bottom: 12px;
    margin-top: 8px;
    height: 536px;
    overflow-y: scroll;
  }

  &_Public {
    width: 100%;
    display: flex;
    gap: 8px;
  }

  &_feilPublic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    &:first-child {
      // width: calc(100% - 390px);
      width: calc(100% - 87.4439461883408%);
      color: $secondary-4;
    }

    &:nth-child(2) {
      // width: calc(100% - 266px);
      width: calc(100% - 59.64125560538116%);
      color: $brand;
    }

    &:nth-child(3) {
      // width: calc(100% - 366px);
      width: calc(100% - 82.0627802690583%);
      color: $secondary-4;
    }

    &:last-child {
      // width: calc(100% - 362px);
      width: calc(100% - 76.23318385650224%);
      color: $brand;

      img {
        margin: auto;
      }
    }
  }

  //Table Head
  &_head {
    // position: absolute;
    padding: 0 24px;
    border-bottom: 1.5px solid $secondary-4;
    z-index: 10;
    background-color: $neutal-1;
    width: 100%;
    &::after{
      content: '';
      width: 100%;
      height: 14px;
      background-color: $neutal-1;
      position: absolute;
      top: -13px;
      left: 0px;
    }

    &-feil {
      @include font(medium, 14);
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
      padding: 9.5px 0;
    }
  }

  //Table-Body
  &_body {
    &-row {
      position: relative;
      background: $neutal-2;
      border-radius: 13px;
      padding: 2px 24px 2px 24px;
      margin-top: 16px;

      i {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary-1;
      }
    }

    &-feil {
      @include font(regular, 16);
      font-weight: 500;
      padding: 12px 0;
      text-align: center;
      &:first-child {
        // width: calc(100% - 390px);
        width: calc(100% - 87.4439461883408%);
        color: $secondary-4;
      }
  
      &:nth-child(2) {
        // width: calc(100% - 266px);
        width: calc(100% - 59.64125560538116%);
        color: $brand;
      }
  
      &:nth-child(3) {
        // width: calc(100% - 366px);
        width: calc(100% - 82.0627802690583%);
        color: $secondary-4;
      }
  
      &:nth-child(4) {
        // width: calc(100% - 362px);
        width: calc(100% - 76.23318385650224%);
        color: $brand;
  
        img {
          margin: auto;
        }
      }
    }

    &-detail {
      min-height: 228px;
      display: none;
      animation: fadein .8s;
      .detail {
        &_tab {
          &-wrapper {
            margin-bottom: 10px;
          }

          &-item {
            @include font(medium, 14);
            line-height: 18px;
            padding: 2px 8px;
            color: rgba(1, 50, 44, 0.4);

            &:not(:first-child) {
              margin-left: 32px;
            }
          }
        }

        &_service,
        &_tour,
        &_blacklist {
          margin-top: 10px;
        }

        &_header,
        &_content {
          display: flex;

          &-item {
            text-align: center;

            &:first-child,
            &:nth-child(2),
            &:last-child {
              @include font(regular, 12);
              line-height: 16px;
              padding-top: 8px;
              padding-bottom: 8px;
            }

            &:first-child {
              width: calc(100% - 77.57847533632287%);
              color: $brand;
            }

            &:nth-child(2) {
              width: calc(100% - 49.327354260089685%);
              color: $secondary-4;
            }

            &:last-child {
              width: calc(100% - 73.09417040358744%);
              color: $brand;
            }
          }
        }

        &_header {
          &-item {

            &:first-child,
            &:nth-child(2),
            &:last-child {
              font-weight: bold;
              border-radius: 3px;
              background-color: $neutal-1;
              padding-top: 6px;
              padding-bottom: 6px;
            }
          }

        }
      }

    }
  }

  &_notification {
    @include font(regular, 10);
    position: absolute;
    top: -10px;
    left: calc(100% - 23px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    line-height: 12px;
    background-color: $secondary-3;
    border: 1px solid $neutal-2;
    border-radius: 100px;
    color: $neutal-2;
  }
}

// Css Extend
.show {
  display: block;
}
.nav-tabs .nav-link.active{
  color: $brand;
  border-bottom: 1.5px solid $secondary-4 !important;
}
  // animation: fadein .8s;


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.col-md-12{
  margin-top: 40px;
}
